* {
  font-family: 'Oswald', sans-serif;
  font-display: swap;
  line-height: 1.5;
}
.text-white {
  color: #fcfcfc;
}
.text-pink {
  color: #F61067;
}
.text-black {
  color: #30233D;
}
.text-light {
  color: #776C82;
}